body{
    background: url(../image/fruit_blur_bg.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
 		-moz-background-size: cover;
 		-o-background-size: cover;
 		background-size: cover;
	  background-color: #444;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
.topmargin-default {
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 10px;

}
.signed-in-as-paragraph {
  padding-left: 10px;
  padding-right: 10px;
}
.thumbnail>img{
  height:100%;
  max-height:130px;
  max-width: 130px;
  /*padding-left: 40px;
  padding-right: 40px;*/
}
.price-label{
  margin-left: 7px;
  margin-right: 7px;
}

.segmented-buttons{
  padding-left: 15px;
  padding-right: 15px;
}
.paragraph-center {
  text-align: center;
}

.vertical-offset-100{
    padding-top:100px;
}
.navbar-align-right{
  /*position: absolute;
  padding-right: 0px;
  margin-right: 0px;*/
}
.preload {
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}
.flat-container {
  background-color: #F8F8FF;
  border-radius: 7px;

}

.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: white; color: #000; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}
